


<link rel="stylesheet" href="./css/home.css">

{{>navbar}}



<div class='home'>
<h1>Home</h1>
<p>Web development is the building and maintenance of websites; it's the work that happens behind the scenes to make a website look great, work fast and perform well with a seamless user experience. Web developers, or 'devs', do this by using a variety of coding languages.</p>
</div>
